<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorator="layouts/basic">
<head>
<title>Getting Started: Serving Web Content</title>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
</head>
<body layout:fragment="content">

	<div class="row">
		<h1>User</h1>
		<div th:if="${user}">
			<img id="avatar" src="" th:if="${userImage}" th:src="${userImage.htmlSrc}" alt="Profile Image" title="Profile Image" />
			<ul th:object="${user}">
				<li th:text="*{firstName}"></li>
				<li th:text="*{lastName}"></li>
				<li th:text="*{email}"></li>
				<li th:text="*{phoneNumber}"></li>
				<li><a href="/" th:href="@{|/user/${user.id}/edit|}">Edit</a></li>
			</ul>
		</div>

		<div th:unless="${user}">
			<h3>No user found.</h3>
		</div>
		<a href="/">Back</a>
	</div>
</body>
</html>
